.logo{
    background-image: url("../img/logo_formal_fundo_transparente.jpg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
    margin: 0;
    &--branco{
        background-image: url("../img/logo_formal_fundo_transparente.jpg");
    }
}
