.servicos{
    padding: 30px 0;
    overflow: auto;
    &__item{
        text-align: center;
        margin-bottom: 50px;
        padding: 0 12px;
        @media(min-width: $breakpoint-medium){
            float: left;
            width: 50%;
        }
    }
    
    &__texto{
        color: $cor-leitura;
    }
}
