@font-face{
    font-family: "Source Sans Pro";
    src: url('../fontes/SourceSansPro-Regular.otf');
}

@font-face{
    font-family: "Source Sans Pro";
    src: url('../fontes/SourceSansPro-Bold.otf');
    font-weight: bold;
}

@font-face{
    font-family: "Source Sans Pro";
    src: url('../fontes/SourceSansPro-BoldIt.otf');
    font-weight: bold;
    font-style: italic;
} 